/* استيراد خط من جوجل */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*اعادة القيم الاصلية للمتصفح */
body, html , * {
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
}