/* تنسيث العنوان */
h1{
    text-align: center;
    padding: 16px;
}
/* القائمة المغلقة */
.menu{
    position: relative;
    float: left;
/**/   left: -260px;
    width: 260px;
    height: 100vh;
    background-color: crimson;
    color: white;
    z-index: 999;
    transition: all 0.5s;
}
/* القائمة المفتوحة */
.menu-open{
  left: 0px;
  background-color: midnightblue;
}
/* الزر مغلق */
.close-btn{
  display: block;
  height: 60px;
  font-size: 30px;
  float: right;
  padding: 0 10px;
  background-color: crimson;
  cursor: pointer;
  position: absolute;
  left: 260px;
  line-height: 60px;
  transition: all 0.5s;

}
/* الزر مفتوح */
.open-btn{
  background-color: midnightblue;
}
/* تنسيق عناصر القائمة */
#father > li {
  list-style-type: none;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  border-bottom: 1px solid darkgrey;
}
li:hover{
  background-color: darkgrey;
  clear: black;
}
/* تنسيق القائمة الفرعية */
#son{
  display: none;
  width: 100% !important;
}
#son > li {
  background-color: darkgrey;
  color: black;
}
#son > li:hover{
  background-color: crimson;
}
/* محتوى الصفحة المفتوحة */
.content{
  position: relative;
  background-color: #eee;
  height: 60px;
  box-sizing: border-box;
}
.image{
  position: relative;
  height: 360px;
  background-image: url(../img/1.jpg);
  background-size: cover;
  background-position: center;

}
/* محتوى الصفحة مغلق */
.content{
  width: 100vw;
  left: 0px;
}
