
        body {
            color: #797979;
            background: #f1f2f7;
            font-family: 'cairo';
            margin: 0px !important;
            font-size: 13px;

        }


        .visitor {
            color: white;
            font-size: 15px;
        }
        .mb-2
        {
           font-family: 'cairo';
           font-size: 14px;
        }
        .form-control{
         font-family: 'cairo';
        }
        p,
        a,
        span,option,select,
        h3,
        h1,
        h2,
        h4,
        h5,
        h6,
        button {
            font-family: 'cairo';

        }





        .profile-nav,
        .profile-info {
            margin-top: 30px;

        }

        .profile-nav .user-heading {
            background: #0dcaf0;
            color: #fff;
            border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            padding: 30px;
            text-align: center;
        }

        .profile-nav .user-heading.round a {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 10px solid rgba(255, 255, 255, 0.3);
            display: inline-block;
        }

        .profile-nav .user-heading a img {
            width: 112px;
            height: 112px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .profile-nav .user-heading h1 {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 5px;
        }

        .profile-nav .user-heading p {
            font-size: 12px;
        }

        .profile-nav ul {
            margin-top: 1px;
        }

        .profile-nav ul>li {
            border-bottom: 1px solid #ebeae6;
            margin-top: 0;
            line-height: 30px;
        }

        .profile-nav ul>li:last-child {
            border-bottom: none;
        }

        .profile-nav ul>li>a {
            border-radius: 0;
            -webkit-border-radius: 0;
            color: #89817f;
            border-right: 5px solid #fff;
        }

        .bio-row {
            width: 50%;
            float: left;
            margin-bottom: 10px;
            padding: 0 15px;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        }

        .profile-nav ul>li>a:hover,
        .profile-nav ul>li>a:focus,
        .profile-nav ul li.active a {
            background: #f8f7f5 !important;
            border-right: 5px solid #337ab7;
            color: #89817f !important;
            margin-right: -12px;
            padding-right: 12px;
            padding-top: 12px;
            padding-bottom: 12px;

        }

        .nav {
            padding-right: 0;
            margin-bottom: 0;
            list-style: none;

        }

        .nav>li>a {
            position: relative;
            display: block;
            padding-top: 12px;
            padding-bottom: 12px;
        }


        .nav {
            position: relative;
            display: block;
            width: 100%;
            padding-right: 12px;

        }

.dropdown-menu {
    text-align: right;
    right: 0px;
    min-width: 11rem;
}

#topbar {
  background: #106eea;
  height: 47px;
  font-size: 14px;
  color: #fff;
  padding: 0;
  padding-top: 2.3px;
}



@import url(https://fonts.googleapis.com/css?family=Tajawal);



h3{
  color: #32c19a;
}
.main-content{
  width:100%!important;
   background: white;
  padding-top:7px;
}

.thead_dark {
    background: #337ab7;
    color:white;
}




table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding: 15px 20px;
    padding-right: 30px;
}




table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    padding: 13px 19px;
    border-right-width: 0;
}



.form-control {

    -moz-appearance: none;
    appearance: auto;

}

.dataTables_length{
float: left;
}
#example1_filter{
float: left;

 }
.buttons-html5,.buttons-print{
border-radius : 0px;
}
   * {
            font-family: 'cairo';
        }
