 @import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body { background: #000; }

.cont {
direction: rtl;
  width: 93%;
  max-width: 350px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #EEE;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
    direction: rtl;

  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255,255,255,.1);
}
label {
    display:initial
}
div.title { font-size: 2em;direction: rtl;
}

h1 span {
  font-weight: 300;direction: rtl;

  color: #Fd4;
}

div.stars {
  width: 270px;direction: rtl;


}

input.star { display: none; direction: rtl;
}

label.star {
    direction: rtl;

    padding: 5px;
    font-size: 25px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
  direction: rtl;

}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  direction: rtl;

  text-shadow: 0 0 20px rgb(255, 207, 170);
}

input.star-1:checked ~ label.star:before { color: rgba(231, 65, 14, 0.952);direction: rtl;
}

label.star:hover { transform: rotate(-15deg) scale(1.3); direction: rtl;
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
  direction: rtl;

}

#topbar {
  background: #106eea;
  direction: rtl;

  height: 47px;
  font-size: 14px;
  color: #fff;
  padding: 0;
  padding-top: 2.3px;
}

