@charset "utf-8";
/**
* Template Name: Learn up - v->experimental
* Created by : Ayat Abu Qasim - Ahmed Farhat - Osama Abu Tawahinah
* Occasion : Our graduation project for the 2021 academic year
* Type : CSS file
*/



/* خطوط الصفحة */

body {
  font-family: 'cairo';
  color: #444444;

}

    *{
        font-family: 'cairo';
    }

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Al-Jazeera-Arabic";
}


/* ahmed_Farhat */

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #106eea;
    height: 48px;
    font-size: 14px;
    color: #fff;
    padding: 0;
    padding-top: 2.3px;
}



#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  }

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}



#topbar .social-links a:hover {
  color: white;

}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar2 {
  background: #106eea;
  height: 47px;
  font-size: 14px;
  color: #fff;
  padding: 0;
  padding-top: 2.3px;
}


#topbar2 .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar2 .contact-info i a {
  line-height: 0;
  }

#topbar2 .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}



#topbar2 .social-links a:hover {
  color: white;

}



/*--------------------------------------------------------------
# Header --ahmed Farhat
--------------------------------------------------------------*/
#header {
  background: #fff;
   height: 80px;
 }

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 36px;
  font-weight: 760;
  }

#header .logo a {
  color: #222222;
  padding-left: 35px;
}

#header .logo a span {
  color: #106eea;
}

#header .logo img {
  max-height: 40px;
}


/*--------------------------------------------------------------
# Navigation Menu --- ahmed
--------------------------------------------------------------*/


.bg-light {
    background-color: #ffffff!important;
}


.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  position: relative;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  color: #000000;

}

.navbar > ul > li > a:before {
  content: "";/*  اعطاء قيمة نصيمة وهمية للخط ليظهر اذا ازيلت لن يظهر الخط */
  position: absolute; /* جعل الخط يظهر بعد حتوى النص او فوقة  */
  width: 100%;
  height: 2px;
  bottom: -6px; /* ازاحة للاسفل بقدار -6 */
  right: 0; /* اعطيتها قيمة 0 ليظهر النص في المنتصف تحديداً  */
  background-color: #106eea;
  width: 0px; /* عرض ابتدائي  */
  transition: all 0.3s ease-in-out 0s; /*  تحريك الخط تحت الرابط */
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: #106eea;
}

 .bg-light {
     direction: rtl;
}

/*--------------------------------------------------------------
# Hero Section --Ahmed Faraht(خلفية الهدر المتحركة)
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  background: url("../img/hero-bg.jpg") top left;
  background-size: cover;
  position: relative;
	/*
	relative معنى


	سيكون موضع العنصر محسوبًا بناءً على البنية التنظيمية العادية للمستند، ثم سيتم إزاحته نسبةً إلى موضعه الأصلي اعتمادًا على الخاصيات top و right و bottom و left، ولن يكون للإزاحة تأثيرٌ على بقية العناصر، أي أنَّ المساحة المحجوزة للعنصر في تخطيط الصفحة هي نفس المساحة المحجوزة إذا كانت هذه الخاصية هي static. ويمكن استخدام الخاصية z-index مع العنصر.

	بمعنى اخر لمنع الصورة من التأثير على العناصر الأخرى في الصفحة فتأخذ عرض تلقائي ومحذاه تلقائية


	*/
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
	/*
	سيُزال العنصر من البنية التنظيمية للمستند، ولن يُحجَز له مكانٌ في تخطيط الصفحة  اي ستكون شفافة بدرجة تتناسق مع الصفحة

 وتأخذ قيم الازاحة والشفافية بنا
	*/
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
    position: relative;
	/* لاخراح النصوص خارج التأثيرات على الشكل*/
	text-align: center;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
 }

#hero h1 span {
  color: #106eea;
}

#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
    font-family: 'cairo';
    text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
}


#hero .btn-get-started:hover {
  background: #247cf0;
}


@media (min-width: 1024px) {
	/* الجزئية المسؤولة عن تحريك الصورة الداخلية في الهيدر
	*/
  #hero {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
الخطوط في مربع الخدمات
-----------------------------------------*/
section {
  padding: 60px 0;
	/* الكشن والمسافة بين المربع والسكشن السابق  ).

---------------------*/

 }

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  font-weight: 700;
  padding: 10px 22px;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}



/*--------------------------------------------------------------
#  أسئل الدكتور  - جزئية مربعات الخدمات
--------------------------------------------------------------*/
.featured-services .icon-box {
  padding: 30px;
  position: relative; /* خاصية تستعمل لاعادة العنصر لطبيعتة بنائاً على الارتفاع للاعلى الارتفاع للاسف ويمن ويسار اي هو الكود المسؤول على اظهار الخلفية الزرقاء بشكل عائم  */
  overflow: hidden; /* تنعيم حركة اللون في الخلفية */
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
  z-index: 2; /* relativeالمحور الذي سيبداء به اللون التعويم ويتم اسنادة الى الخاصية  */
}

.featured-services .icon-box::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #106eea;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  text-align: center;
  margin-bottom: 15px;
}

.featured-services .icon i {
  text-align: center;
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

/* العناوين داخل المربع */
.featured-services .title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.featured-services .title a {
  text-align: center;
  color: #111;
}
 .featured-services .description {
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  text-align: center;
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  text-align: center;
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex; /* خاصية تعويم ال li  ليتم عرضة بجانب الايقونات */
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
	/*
	 0 هي عرض الظل بنسبة لمحول الافقي
	6 عرض الظل بنسبة للمحول العمودي
	15 نسبة تشتيت الظل
	القيم بين الاقواس درجات لونية

	*/

  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;/* تعويم مساحة الزر فوق مساحة الانبت */
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width:100%; /* عرض لاتاحة الكتابة */
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background-color:#106eea;
  color: #fff;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0d58ba;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
   padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex; /* تنظيم العناصر بجانب الاسهم  */
  align-items: center;
}



#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#footer .footer-top .social-links a {
  font-size: 19px;
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
 }

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
            font-family: "cairo";
	  font-size: 14.8px;
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 14.8px;
  color: #444444;
font-family: 'cairo';
}


#row{
	padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.nav-link {
    padding-right: .0rem;
    padding-left: .0rem;
}



/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 70px 0 60px;
  }

  .counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #f1f6fe;
  }

  .counts .count-box i {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #106eea;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 0;
    border-radius: 50px;
    border: 5px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
  }

  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }

  /*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
  .clients {
    padding: 15px 0;
    text-align: center;
  }
  #hero .container {
    position: relative;
  }

  .clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
  }

  .clients img:hover {
    transform: scale(1.15);
  }

  @media (max-width: 768px) {
    .clients img {
      max-width: 40%;
    }
  }


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
    padding: 70px 0 60px;
  }

  .counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #f1f6fe;
  }

  .counts .count-box i {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #106eea;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 0;
    border-radius: 50px;
    border: 5px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
  }

  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }



/*------------------------------------- هاتف --------------------------------------------*/
  @media only screen and (max-width: 700px) {
		#header
	     {
		   background: #fff;
		   height: 100%;
			text-align: center;
		 }

		#topb {
		 justify-content: space-between !important;

		}

		 .col-3 {
		 width: 70%;
         }

		 #hero h1 {
			margin: 0;
			font-size: 38px;
	     }
		 #hero h2 {
		 color: #555555;
		 margin: 5px 0 30px 0;
		 font-size: 21px;
		 }


		 footer{
			 text-align: center;
		 }

		#footer .copyright {
		font-size: 14.8px;
        font-family: "cairo";
		text-align: center;
		float: none;
	    }

		#footer .credits {
		float: none;
		text-align: center;
		font-size: 14.8px;
		color: #444444;
	    }

	 }





